/node_modules
/dist
/build
/.env
/.idea
/.vscode

logs/
*.log
*.log.*

**/docker-compose.ovverride.yml

devhub-backend/node_modules
devhub-backend/dist
devhub-backend/.env

devhub-frontend/node_modules
devhub-frontend/dist
devhub-frontend/.env

fastapi-backend/__pycache__/
fastapi-backend/.venv/
fastapi-backend/*.pyc
fastapi-backend/.env